*.log
**/LOG/*.txt
**/LOG/*.log
**/*.log.txt
MAXVOLL ZXGAMES 6.5 MuServer/MuServer/**/LOG/
MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer/LOG/*.txt
MAXVOLL ZXGAMES 6.5 MuServer/MuServer/JoinServer/LOG/*.txt
MAXVOLL ZXGAMES 6.5 MuServer/MuServer/JoinServer/LOG_ACCOUNT/*.txt
MAXVOLL ZXGAMES 6.5 MuServer/MuServer/DataServer/LOG/*.txt
MAXVOLL ZXGAMES 6.5 MuServer/MuServer/ConnectServer/LOG/*.txt
**/LOG_ACCOUNT/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer/ANTIFLOOD_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer/CHAOS_MIX_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer/CASH_SHOP_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer/HACK_LOG/

*.obj

szerver source/MAIN_ULTIMO/Main/Release/

*.opensdf

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/StartUp/Configuration/Configuration.xml.bak

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/StartUp/Logs/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/StartUp/Configuration/Configuration.xml

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServerCS/CASH_SHOP_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServerCS/ANTIFLOOD_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServerCS/CHAOS_MIX_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServerCS/HACK_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer_Sub1/GameServer/ANTIFLOOD_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer_Sub1/GameServer/CASH_SHOP_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer_Sub1/GameServer/CHAOS_MIX_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer_Sub1/GameServer/HACK_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer_Sub1/ANTIFLOOD_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer_Sub1/CASH_SHOP_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer_Sub1/CHAOS_MIX_LOG/

MAXVOLL ZXGAMES 6.5 MuServer/MuServer/GameServer_Sub1/HACK_LOG/

.specstory/history/
